/* Style qui s'applique à l'ensemble de la page */

/* .noto-sans-<uniquifier> {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} */

/* .montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html,
body {
    margin: 0;
    padding: 0px;
}

/* Style qui s'applique au header */

header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./assets/images/hero-bg.jpg.webp);
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 75vh;
    font-family: "Noto Sans", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Style qui s'applique à la barre de navigation */

nav {
    position: absolute;
    top: 0;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 0;
}

/* Style qui s'applique au logo */

.logo img {
    width: 150px;
    height: 42px;
}

/* Style qui s'applique à la balise links et à sa liste de liens */

.links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.links ul {
    display: flex;
    list-style: none;
    gap: 50px;
}

.links li {
    list-style-type: none;

}

/* Style qui s'applique aux ancres des liens de la page*/

.links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    padding-bottom: 0.5em;
    background-size: 0% 0.1em;
}

h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: default;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 50px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 13px;
    background-color: #fb2056;
    border: none;
    padding: 1em 2em;
    cursor: pointer;
    border-radius: 50px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* button:hover {
    background-color: #DA1C4B;
} */

hr {
    border: 1px solid red;
    width: 60px;
    margin: 2em;
}

.red-line {
    border: 1px solid red;
    width: 60px;
}

.wonderful {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    font-size: 25px;
}

.wonderful>* {
    margin: 5px;
}

.citation {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(./assets/images/quote-1.png);
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    height: 50%;
    flex-direction: column;
    padding: 2em 0;
    font-size: 25px;
    font-family: "Montserrat", sans-serif;
}

.citation p {
    display: flex;
    justify-content: center;
    text-align: center;
}

.upcoming-events {
    padding: 50px 0;
}

.upcoming {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.everest {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 50px;
    padding: 10px;
}

.card img {
    height: 297px;
    width: 475px;
}

h5 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.everest .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.everest img {
    box-shadow: 10px 5px 5px silver;
}

.everest p {
    /* width: 350px; */
    /* max-width: 100%; */
    font-size: clamp(14px, 2vw, 18px);
    line-height: 1.5;
}

.explore {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./assets/images/section-bg-img.jpg.webp);
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    height: 50vh;
}

.explore-2 {
    display: block;
    justify-content: center;
    align-items: flex-end;
    color: white;
    flex-direction: column;
    margin-left: 50%;
}

.explore p {
    width: 500px;
}

.upcoming-tours {
    display: flex;
    justify-content: center;
}

.upcoming-tours-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    align-items: flex-start;
    padding-top: 120px;
    padding-bottom: 120px;
    width: 80%;
}

.gallery {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.gallery img {
    object-fit: cover;
    border-radius: 5px;
    max-width: 100%;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.upcoming-tours .button {
    justify-content: flex-start;
}

footer {
    display: block;
    justify-content: center;
    text-align: center;
    color: white;
    background-color: black;
    padding: 40px;
}

#burger-menu {
    display: none;
}


@media(max-width:1024px) {
    .links {
        display: none;
    }

    #burger-menu {
        display: block;
    }

    .links ul {
        gap: 10px;
    }

    .everest {
        flex-direction: column;
    }

    .explore {
        flex-direction: column;
        background-size: cover;
    }

    .explore p {
        width: 300px;
    }


    .everest p {
        width: 350px;
    }

    .upcoming-tours-grid {
        grid-template-columns: 1fr;
    }

    header {
        background-size: cover;
    }
}

@media(max-width:768px) {
    .everest {
        flex-direction: column;
    }

    .explore {
        flex-direction: column;
    }

    .explore p {
        width: 200px;
    }

    .everest p {
        width: 350px;
    }
}


@media(max-width:460px) {
    .everest {
        flex-direction: column;
    }

    .explore {
        flex-direction: column;
    }

    .explore p {
        width: 200px;
    }

    .everest p {
        width: 350px;
    }
}